In [13]:
import pandas as pd
df = pd.read_csv("metadata.csv")
df = df.drop("Unnamed: 0", axis = 1)
df.head()

,category_code,country_code,entity_type,entity_id,status,founded_at,closed_at,first_investment_at,last_investment_at,investment_rounds,...,milestones,relationships,countryfreq,categoryfreq,timeininvestment,investmentaffinity,timeinfunding,fundingaffinity,timeinmilestone,outcome
0,advertising,USA,Company,18970,operating,1999-01-30,NaN,NaN,NaN,0,...,0,0,0.578086,0.058896,-1.0,0.0,-1.0,0.0,-1.0,0
1,advertising,USA,Company,152092,operating,2010-11-01,NaN,NaN,NaN,0,...,2,4,0.578086,0.058896,-1.0,0.0,791.0,0.0,533.0,0
2,advertising,USA,Company,179058,operating,2005-01-10,NaN,NaN,NaN,0,...,1,2,0.578086,0.058896,-1.0,0.0,-1.0,0.0,0.0,0
3,advertising,USA,Company,279620,operating,2012-01-01,NaN,NaN,NaN,0,...,0,0,0.578086,0.058896,-1.0,0.0,-1.0,0.0,-1.0,0
4,advertising,GBR,Company,66775,operating,2011-01-01,NaN,NaN,NaN,0,...,0,13,0.081206,0.058896,-1.0,0.0,934.0,0.0,-1.0,0

In [14]:
#getting country transformation
country = pd.read_csv("countrymeta.csv")
country.rename(columns = {"objectsDF$country_code" : "countries"}, inplace=True)
country.head()

  countries  total
0       AFG      8
1       AGO      2
2       ALB      8
3       AND      1
4       ANT     15

In [15]:
for index,value in enumerate(list(country["countries"])):
    print(index + 1, value)
    
country_selected = str(input("Enter the country code : "))
probcountry = (int(country.query(f"countries == '{country_selected}'")["total"]) + 1) / (country["total"].sum() + 1)
print(probcountry)

1 AFG
2 AGO
3 ALB
4 AND
5 ANT
6 ARA
7 ARE
8 ARG
9 ARM
10 ATG
11 AUS
12 AUT
13 AZE
14 BDI
15 BEL
16 BEN
17 BGD
18 BGR
19 BHR
20 BHS
21 BIH
22 BLR
23 BLZ
24 BMU
25 BOL
26 BRA
27 BRB
28 BRN
29 BWA
30 CAN
31 CHE
32 CHL
33 CHN
34 CIV
35 CMR
36 COL
37 CRI
38 CSS
39 CUB
40 CYM
41 CYP
42 CZE
43 DEU
44 DMA
45 DNK
46 DOM
47 DZA
48 ECU
49 EGY
50 ESP
51 EST
52 ETH
53 FIN
54 FRA
55 FST
56 GBR
57 GEO
58 GHA
59 GIB
60 GLP
61 GRC
62 GRD
63 GTM
64 HKG
65 HRV
66 HTI
67 HUN
68 IDN
69 IND
70 IOT
71 IRL
72 IRN
73 IRQ
74 ISL
75 ISR
76 ITA
77 JAM
78 JOR
79 JPN
80 KAZ
81 KEN
82 KGZ
83 KOR
84 KWT
85 LAO
86 LBN
87 LIE
88 LKA
89 LTU
90 LUX
91 LVA
92 MAR
93 MCO
94 MDA
95 MDG
96 MDV
97 MEX
98 MKD
99 MLT
100 MMR
101 MTQ
102 MUS
103 MYS
104 NAM
105 NCL
106 NFK
107 NGA
108 NLD
109 NOR
110 NPL
111 NRU
112 NZL
113 OMN
114 PAK
115 PAN
116 PCN
117 PER
118 PHL
119 POL
120 PRI
121 PRK
122 PRT
123 PRY
124 PST
125 QAT
126 REU
127 ROM
128 RUS
129 RWA
130 SAU
131 SDN
132 SEN
133 SGP
134 SLE
135 SLV
136 SMR
137 SOM
138 SUR
139 SVK
140 SVN
141 SWE
142 SWZ
143 SYC
144 SYR
145 THA
146 TTO
147 TUN
148 TUR
149 TWN
150 TZA
151 UGA
152 UKR
153 UMI
154 URY
155 USA
156 UZB
157 VCT
158 VEN
159 VGB
160 VIR
161 VNM
162 YEM
163 ZAF
164 ZMB
165 ZWE
Enter the country code : USA
0.5780596642326655

In [16]:
category = df.groupby("category_code").size()
catdf = pd.DataFrame(category)
catdf.reset_index(inplace = True)
catdf.rename(columns = {0 : "total"}, inplace = True)

In [17]:
for index,value in enumerate(list(catdf["category_code"])):
    print(index + 1, value)

1 advertising
2 analytics
3 automotive
4 biotech
5 cleantech
6 consulting
7 design
8 ecommerce
9 education
10 enterprise
11 fashion
12 finance
13 games_video
14 government
15 hardware
16 health
17 hospitality
18 legal
19 local
20 manufacturing
21 medical
22 messaging
23 mobile
24 music
25 nanotech
26 network_hosting
27 news
28 nonprofit
29 other
30 pets
31 photo_video
32 public_relations
33 real_estate
34 search
35 security
36 semiconductor
37 social
38 software
39 sports
40 transportation
41 travel
42 web

In [18]:
category_selected = str(input("Enter the category: "))
probcategory = (int(catdf.query(f"category_code == '{category_selected}'")["total"]) + 1) / (catdf["total"].sum() + 1)
print(probcategory)

Enter the category: sports
0.002673880410307731

In [19]:
from datetime import datetime
found_date = input("Enter the foundation date(YYYY-MM-DD)")
found_date = datetime.strptime(found_date, "%Y-%m-%d")
print(datetime.date(found_date))

Enter the foundation date(YYYY-MM-DD)2015-08-12
2015-08-12

In [20]:
import math
invst_rounds = int(input("Enter the number of investment rounds: "))
timeinivestment = 0
if invst_rounds == 0 :
    timeinivestment = -1
    investedcompanies = 0 
else:
    lastinvst_date = input("Enter the last investment(YYYY-MM-DD)")
    lastinvst_date = datetime.strptime(lastinvst_date, "%Y-%m-%d")
    timeinivestment = (lastinvst_date - found_date).days
    investedcompanies = int(input("Enter the number of companies invested:"))

investmentaffinity = (investedcompanies * invst_rounds) / (math.exp(timeinivestment))

Enter the number of investment rounds: 0

In [22]:
funding_rounds = int(input("Enter the number of funding rounds: "))
fundingraised = int(input("Enter the funds raised in USD :"))
timeinfunds = 0
if funding_rounds == 0 :
    timeinfunds = -1
else:
    lastfund_date = input("Enter the last funding(YYYY-MM-DD)")
    lastfund_date = datetime.strptime(lastfund_date, "%Y-%m-%d")
    timeinfunds = (lastfund_date - found_date).days
    print(timeinfunds)

fundingaffinity = (fundingraised * funding_rounds) / (math.exp(timeinfunds))
print(fundingaffinity)

Enter the number of funding rounds: 2
Enter the funds raised in USD :250000
Enter the last funding(YYYY-MM-DD)2018-12-2
1208

OverflowError: math range error

milestones = int(input("Enter the number of milestones : "))
if milestones != 0 :
    last_milestone_at = input("Enter the last milestone(YYYY-MM-DD)")
    last_milestone_at = datetime.strptime(last_milestone_at, "%Y-%m-%d")
    timeinmilestone = (last_milestone_at - found_date).days
else :
    timeinmilestone = -1

In [58]:
relationships = int(input("Enter the number of relationships that the startup has : "))

Enter the number of relationships that the startup has : 4

In [59]:
data = [probcountry, probcategory, investmentaffinity, fundingaffinity, milestones, timeinmilestone, relationships]

In [60]:
print(data)

[0.5780596642326655, 0.003142982236677508, 2.208432910811413e-41, 5.874964223421606e-23, 3, 313, 4]

In [61]:
import pandas as pd 
df = pd.read_csv("finaldata.csv")
df = df.drop("Unnamed: 0", axis = 1)
data[3] = (data[3] - df["fundingaffinity"].min(axis=0)) / (df["fundingaffinity"].max(axis=0)-df["fundingaffinity"].min(axis=0))

In [62]:
print(data)

[0.5780596642326655, 0.003142982236677508, 2.208432910811413e-41, 5.283241208112955e-31, 3, 313, 4]

In [63]:
data[5] = (data[5] - df["timeinmilestone"].min(axis=0)) / (df["timeinmilestone"].max(axis=0)-df["timeinmilestone"].min(axis=0))

In [64]:
data[6] = (data[6] - df["relationships"].min(axis=0)) / (df["relationships"].max(axis=0)-df["relationships"].min(axis=0))

In [75]:
import numpy as np
from sklearn.model_selection import train_test_split
features = ["countryfreq","categoryfreq","investmentaffinity","fundingaffinity","milestones","timeinmilestone","relationships"]
x = df[features]
y = df.outcome
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 7)
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state = 7)
logreg.fit(x_train,y_train)
test = pd.DataFrame()
y_pred = logreg.predict(test)
print(y_pred)

/Users/kushshah/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
/Users/kushshah/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'